signalflags.dogbuilt.net {
  encode zstd gzip
  reverse_proxy localhost:3000
}

static.dogbuilt.net {
  encode zstd gzip
  root * /srv/static
  file_server browse
}

hs.dogbuilt.net {
  reverse_proxy * localhost:4000
}

http://rss.priv.dogbuilt.net rss.priv.dogbuilt.net {
  tls internal
  encode zstd gzip
  reverse_proxy localhost:4001
}
